* {padding: 0px; margin: 0px;}

body {
	font-family:Verdana,sans-serif;
	font-size:12px;
	background: #092E20;
}

#wrapper {
	width: 900px; 
	margin: auto;
	
}

#header {
//	background: #94DA3A;
	color: white;
	padding: 20px;
	padding-bottom: 0px;
	border-bottom: 1px solid black;
	height: 33px;
}

#menu { 
	float: right; 
	font-size: 1.2em;
}
	
#menu a, #menu a:visited { 
	text-decoration: none;
	color:#FFC757;
	}
#menu li:hover, #menu li.active { 
	background:#234F32;
	}

#header li { 
	float: left; 
	padding: 5px 10px;
	margin: 1px;
	height: 30px;
	list-style-image:none;
	list-style-type:none;
}

#content {
	background: white;
	padding: 20px;
	min-height: 500px;
}

#search { padding: 20px; margin-bottom: 20px; background: #E0FFB8; }
#movie-list li, #person-list li { font-size: 1.2em; list-style: none; margin-bottom: 10px; }
#movie-list .pagination { width: 600px; }
.movie { clear: both; margin: 30px 0px; }
.movie-image, .person-image { float: right; margin: 0px 0px 30px 30px }
.movie-in-list dd { float: left; margin-right: 20px; }
.movie-in-list { margin: 20px 0px; background: #E0FFB8; padding: 10px; width: 600px; min-height: 150px; }
.pagination { text-align: right; }
.cast, .casts, .directions { clear: both; }

#tag-cloud { float: right; width: 200px;}
#tag-cloud .size1 { font-size: 0.8em; }
#tag-cloud .size2 { font-size: 0.9em; }
#tag-cloud .size3 { font-size: 1.0em; }
#tag-cloud .size4 { font-size: 1.1em; }
#tag-cloud .size5 { font-size: 1.2em; }
#tag-cloud .size6 { font-size: 1.3em; }
#tag-cloud .size7 { font-size: 1.4em; }
#tag-cloud .size8 { font-size: 1.5em; }
#tag-cloud .size9 { font-size: 1.6em; }
#tag-cloud .size10 { font-size: 1.8em; }


h2 { color: #94DA3A; margin: 10px 0px; }
h3 { color: #487858; margin: 5px 0px; }
dt { float: left; margin-right: 5px; }
a  { color:#AB5603; text-decoration: none; }
p  { margin: 10px 0px; }