{% extends "main.html" %}
{% block title %}neuste Filme{% endblock %}
{% block content %}
	{% include 'tagcloud.html' %}
	<div id="movie-list">
		{% include 'paginator.html' %}
		{% for movie in object_list %}
			<div class="movie-in-list">
		        {% if movie.image %}
					<div class="movie-image">
						<img src="/static/{{movie.image}}" />
					</div>
		        {% endif %}
				<h2>
					<a href="{% url movie.views.movie slug=movie.slug%}">
						{{ movie.title }} ({{ movie.year }})
					</a>
				</h2>
				<p>{{ movie.plot|truncatewords:100 }}</p>
	            <dl>
	                <dt>Laufzeit:</dt><dd>{{movie.runtime}} min</dd>
	                <dt>Regie:</dt><dd>
	                    {% for person in movie.director_set.all %}
	                        <a href="{% url movie.views.person slug=person.director.slug%}">{{ person.director.forename }} {{ person.director.surname }}</a>
	                    {% endfor %}
	                </dd>
	                <dt>Genres:</dt><dd>
	                    {% for genre in movie.genres_list %}
	                        <a href="{% url movie.views.movies genre=genre %}">{{ genre }}</a>
	                    {% endfor %}
	                </dd>
	                <dt>IMDB-Rating:</dt><dd>{{movie.rating}}/10</dd>

	            </dl>
				<a href="{% url movie.views.movie slug=movie.slug%}">
		            <span>&raquo; zum Film</span>
				</a>
			</div>
		{% endfor %}
		{% include 'paginator.html' %}
	</div>
{% endblock %}