{% extends "main.html" %}
{% block title %}neuste Filme{% endblock %}
{% block content %}
	<div id="search">
		<form id="seach">
			Suche <input name="name" id="name" value="{{name}}"/>
		</form>
		<a href="?name=">alle</a>
	</div>
	{% include 'paginator.html' %}
	
	<div id="movie-list">
		<ul>
			{% for movie in object_list %}
				<li>
					<a href="{% url movie.views.movie slug=movie.slug%}">
						{{movie.title}} ({{movie.year}})
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	{% include 'paginator.html' %}
{% endblock %}