{% extends "main.html" %}
{% block title %}{{movie.title}}{% endblock %}
{% block content %}
    <div class="movie">
        {% if movie.image %}
			<div class="movie-image">
				<img src="/static/{{movie.image}}" />
			</div>
        {% endif %}
        <h2>{{movie.title}} ({{movie.year}})</h2>

        {% if movie.plot %}
	        <div class="plot">
	            <h3>Handlung</h3>
	            <p>
	                {{movie.plot}}
	            </p>
	        </div>
        {% endif %}
        <div class="infos">
            <h3>Informationen</h3>
            <dl>
                <dt>Laufzeit:</dt><dd>{{movie.runtime}} min</dd>
                <dt>Regie:</dt>
                <dd>
                    {% for person in movie.director_set.all %}
                        <a href="{% url movie.views.person slug=person.director.slug%}">{{person.director.forename}} {{person.director.surname}}</a>
                    {% endfor %}
                </dd>
                <dt>Genres:</dt>
                <dd>
                    {% for genre in movie.genres_list %}
                        <a href="{% url movie.views.movies genre=genre %}">{{ genre }}</a>
                    {% endfor %}
                </dd>
            </dl>
        </div>
        <div class="cast">
            <h3>Besetzung</h3>
            <dl>
                {% for person in movie.cast_set.all %}
                    <dt>{{person.role}}</dt>
                    <dd><a href="{% url movie.views.person slug=person.actor.slug%}">{{person.actor.forename}} {{person.actor.surname}}</a></dd>
                {% endfor %}
            </dl>
        </div>
    </div>

{% endblock %}