{% extends "base.html" %}
{% block title %}{{ person.forename }} {{ person.surname }}{% endblock %}
{% block content %}
	<div class="person">
        {% if person.image %}
			<div class="person-image">
				<img src="/static/{{person.image}}" />
			</div>
        {% endif %}
		<h2>{{ person.forename }} {{ person.surname }}</h2>
        <div class="infos">
	        <h3>Informationen</h3>
            <dl>
        		{% if person.birthdate %}
	            	<dt>geboren</dt>
	            	<dd>
	            		{{ person.birthdate }} 
	            		{% if person.birthplace %}
	            			{{ person.birthplace }}
	            		{% endif %}
	            	</dd>
        		{% endif %}
        		{% if person.biography %}
	            	<dt>Biographie</dt>
	            	<dd>
	            		<p>{{ person.biography }}</p>
	            	</dd>
        		{% endif %}
    		</dl>
		</div>
		{% if person.is_director %}
        	<div class="directions">
				<h3>Filme (Regie)</h3>
	        	{% for movie in person.movie_set.all %}
	        		<a href="{% url movie.views.movie slug=movie.slug %}">{{ movie.title }}</a>
	    		{% endfor %}
			</div>
		{% endif %}
		{% if person.cast_set.all %}
	        <div class="casts">
				<h3>Filme</h3>
	        	<dl>
	        	{% for cast in person.cast_set.all %}
	        		<dt>{{ cast.role }}<dt>
	        		<dd><a href="{% url movie.views.movie slug=cast.movie.slug %}">{{ cast.movie.title }}</a></dd>
	    		{% endfor %}
			</div>
		{% endif %}
		{% with person as comment_object %}
        {% include 'comments.html' %}
        {% endwith %}
		
		{% load image_tags %}
		{% images_for person.forename person.surname as images from flickr %}
		{% if images %}
			<div class="additional-images">
				<h3>weitere Fotos bei flickr</h3>
				{% for image in images %}
					<img src="{{ image }}" width="100px"/>
				{% endfor %}
			</div>
		{% endif %}
	</div>

{% endblock %}
