{% extends "main.html" %}
{% block title %}neuste Filme{% endblock %}
{% block content %}
	<div id="search">
		<form id="seach">
			Suche <input name="name" id="name" value="{{name}}"/>
		</form>
		<a href="?name=">alle</a>
	</div>
	{% include 'paginator.html' %}
	<div id="person-list">
		<ul>
		{% for person in object_list %}
			<li>
                <a href="{% url movie.views.person slug=person.slug%}">{{person.forename}} {{person.surname}}</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	{% include 'paginator.html' %}
{% endblock %}