{% extends "main.html" %}
{% block title %}{{person.forename}} {{person.surname}}{% endblock %}
{% block content %}
	<div class="person">
		<h2>{{person.forename}} {{person.surname}}</h2>
        <div class="infos">
            <h3>Informationen</h3>
            <dl>
        		{% if person.birthdate %}
	            	<dt>geboren</dt>
	            	<dd>
	            		{{person.birthdate}} 
	            		{% if person.birthplace %}
	            			{{person.birthplace}}
	            		{% endif %}
	            	</dd>
        		{% endif %}
        		{% if person.biography %}
	            	<dt>Biographie</dt>
	            	<dd>
	            		<p>{{person.biography}}</p>
	            	</dd>
        		{% endif %}
    		</dl>
		</div>
		</div>
		{% if person.is_director %}
			<h3>Filme (Regie)</h3>
	        <div>
	        	{% for movie in person.movie_set.all %}
	        		<a href="{% url movie.views.get_movie slug=movie.slug %}">{{ movie.title }}</a>
	    		{% endfor %}
			</div>
		{% else %}
			<h3>Filme</h3>
	        <div>
	        	<dl>
	        	{% for cast in person.cast_set.all %}
	        		<dt>{{cast.role}}<dt>
	        		<dd><a href="{% url movie.views.get_movie slug=cast.movie.slug %}">{{ cast.movie.title }}</a></dd>
	    		{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}
