<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
	<head>
	    <title>{% block title %}{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" type="text/css" href="/static/css/site.css" />
	</head>

	<body>
		<div id="wrapper">
			<div id="header">
				<div id="menu">
					<ul>
						<li{% ifequal menu_active 'home' %} class="active"{% endifequal %}><a href="{% url detailed-movies %}">Home</a></li>
						<li{% ifequal menu_active 'movie' %} class="active"{% endifequal %}><a href="{% url movie.views.movies %}">Filme A-Z</a></li>
						<li{% ifequal menu_active 'person' %} class="active"{% endifequal %}><a href="{% url movie.views.persons %}">Personen A-Z</a></li>
					</ul>
				</div>
				<div id="logo">
					<h1>Sandoval</h1>
				</div>
			</div>
			<div id="content">
				{% block content %}{% endblock %}	
			</div>
			<div id="footer">
				{% load db_debug_tags %}
				<h1>{% dbinfo %}</h1>
				{% dbquerylist %}
			</div>
		</div>
	</body>
</html>
